* {
    font-family: 'Open Sans', sans-serif;
}
html, body {
    margin: 0px;
    background-color: #292929 !important;
}

h1 {
    color: #6EEFBE !important;
}

nav {
    background-color: #292929 !important;
    border: none !important;
}
nav a {
    color: #6EEFBE !important;
}
#intro {
    position: fixed;
    top:0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    /*background-image: url('images/background-1080.jpeg') */
}
#intro > h1 {
    text-align: center;
}

#main {
    display: none;
}

#main h1 {
    font-family: 'Major Mono Display', monospace;
}
#main p {
    color: rgb(75, 184, 241);
    font-family: 'Quicksand', sans-serif;
}
#cat {
    height: 500px;
}

#progress-bars-container p {
    color: #6EEFBE;
}

.experience-project-container {
    padding: 40px;
}

.tri-pic {
    height: 350px;
}

.experience-element {
    background-color: #6EEFBE !important;
}

.experience-element > h1 {
    color: #292929 !important;
    text-align: center;
}

.experience-element > h3 {
    text-align: center;
    color: rgb(0, 81, 255) !important;
}

.experience-element > ul {

}

