@media only screen and (min-width: 768px) and (max-width: 991px) {

    #intro > h1 {
        padding-top: 200px;
        font-size: 120px;
    }
    #main {
        padding-top: 50px;
    }
    #main p {
        font-size: 30px;
    }
    #cat {
        height: 500px;
    }
    #experience-project-container {
        padding: 40px;
    }
    .row {
        margin-bottom: 160px;
    }
    .row[id="experience-project-container"] {
        margin-bottom: 110px;
    }
    .experience-element {
        height: 450px;
        padding: 20px;
        margin-bottom: 50px;
    }
    .experience-element li {
        line-height: 30px;
    }
    .tri-pic {
        height: 350px;
    }

}